.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.loading {
  color: white;
}

.search {
  width: 13rem;
  height: 2rem;
  margin: 2rem;
  padding-left: 0.5rem;
  font-family: var(--main-font);
}

.countries {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 2rem;
}
