/* .card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border-radius: 12px;
  box-shadow: 1px 1px 2px black;
  height: 12rem;
  width: 25rem;
  background-color: rgba(115, 130, 130, 0.72);
  margin: 0.5rem;
  padding: 0.3rem;
} */

/* .card__title {
  text-align: center;
} */

h3 {
  text-decoration: underline white;
  font-size: 1rem;
}

.card__flag {
  position: absolute;
  height: 40px;
  border-radius: 3px;
  top: -5px;
  right: -10px;
  box-shadow: 1px 1px 2px black;
}

/* .card__seeMore {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .card__seeMore a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 1.5rem;
  width: 7rem;
  background-color: rgba(255, 0, 0, 0.301);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 200;
} */

.card__seeMore a:hover {
  filter: drop-shadow(0 0 12px crimson);
}

.info {
  justify-content: space-evenly;
  font-weight: 200;
  width: 80%;
  overflow: scroll;
  max-height: 50px;
}

/* .info__divider {
  width: 23%;
  max-height: 65px;
  overflow: scroll;
} */

.strapcard {
  margin: 1rem;
  /* filter: (background-color: opacity(0.8)); */
  background-color: #f0f8ff47;
}

.info__seeMore {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
