@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-font: 'Source Sans Pro', sans-serif;
}

body {
  background-image: url(https://source.unsplash.com/Xu4Pz7GI9JY/2400x2400/);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: var(--main-font) !important;
}
